*{
  margin: 0px;
  padding: 0px;
}
header{
  background-color: rgba(0, 0, 0, 0.63);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
  color:beige;
  height: 70px;
}
input{
  width: 390px;
  height: 25px;
}
.loading{
  display: flex;
  justify-content: center;
}
img{
  width: 150px;
  height: 150px;
}
.Showlist{
  display: flex;
  flex-wrap: wrap;
}
.Pop{
  display: flex;
  justify-content: center;
  align-items: center;
}